animation/
MPC_theory/
trajectory/
deep_learning/
.ipynb_checkpoints/
pympc/
.idea/
*.pyc
*.xml
*.aux
*.log
*.gz
Corioli.pickle
Coriolis.txt
CoriolisT.txt
MPC_theory/
MassMat.pickle
MassMatrix.txt
MassMatrixT.txt
test.py
pydy_test.py
overtaking.py


