animation/
MPC_theory/
trajectory/
deep_learning/
.ipynb_checkpoints/
pympc/
MPC_theory/
# src/iros/Coriolis.c
# src/iros/Coriolis.h
# src/iros/Coriolis.pickle
# src/iros/MassMatrix.c
# src/iros/MassMatrix.h
# src/iros/MassMatrix.pickle

*.c
*.h
*.pickle

.idea/
*.pyc
*.xml
*.aux
*.log
*.gz
Corioli.pickle
Coriolis.txt
CoriolisT.txt
MassMat.pickle
MassMatrix.txt
MassMatrixT.txt
test.py
pydy_test.py
overtaking.py


